body {
	background-color: #100f1c;
	color: white;
}

@import url('https://fonts.googleapis.com/css?family=Montserrat');
@font-face {
	font-family: 'Futura';
	src: url('https://db.onlinewebfonts.com/t/038cce7b400a94325f0721bb7b603929.eot');
	src: url('https://db.onlinewebfonts.com/t/038cce7b400a94325f0721bb7b603929.eot?#iefix') format('embedded-opentype'), url('https://db.onlinewebfonts.com/t/038cce7b400a94325f0721bb7b603929.woff2') format('woff2'), url('https://db.onlinewebfonts.com/t/038cce7b400a94325f0721bb7b603929.woff') format('woff'), url('https://db.onlinewebfonts.com/t/038cce7b400a94325f0721bb7b603929.ttf') format('truetype'), url('https://db.onlinewebfonts.com/t/038cce7b400a94325f0721bb7b603929.svg#Futura') format('svg');
	font-style: normal;
	font-weight: 400;
}

.pj-item {
	color: '#d8cff';
	text-decoration: none;
}

.pj-item:hover {
	text-decoration: underline;
}

.accordion {
	width: 80%;
	margin: 2rem auto;
}

.serial {
	color: white
}

@media(max-width:767px) {
	html {
		font-size: 14px;
	}
}

.navbar-light .navbar-nav .nav-link {
	color: rgb(177, 177, 177);
}

.navbar-light .navbar-nav .nav-link:hover {
	color: rgb(255, 255, 255);
}

@media (max-width: 850px) {}

.cards {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	font-family: sans-serif;
	text-align: center;
	justify-content: space-around;
}

.card {
	display: block;
	align-items: center;
	padding: 10px;
	margin: 20px;
	border-color: #575757;
	color: #ffffff;
	background-color: #3b3b3b;
	border-radius: 10px;
}

.row .cards a {
	padding: 10px 40px 10px 40px;
	background: #6100ff;
	border-radius: 10px;
	width: 250px;
	cursor: pointer;
	outline: none;
	border: none;
}

.row .cards a {
	text-decoration: none;
	color: #ffffff;
}

.row .cards a:hover {
	background: #a14c4c;
	transition-delay: 10ms;
	transition-duration: 1s;
}

.row .cards h3 {
	color: white;
}

.row .cards p {
	color: #fff;
}

::-webkit-scrollbar {
	visibility: hidden;
}


img {
	display: block;
	margin-right: auto;
	margin-left: auto;
}
